<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-employer-heading" data-cy="EmployerCreateUpdateHeading" jhiTranslate="myApp.employer.home.createOrEditLabel">
        Create or edit a Employer
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.employer.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.employer.ein" for="field_ein">Ein</label>
          <input type="number" class="form-control" name="ein" id="field_ein" data-cy="ein" formControlName="ein" />
          <div *ngIf="editForm.get('ein')!.invalid && (editForm.get('ein')!.dirty || editForm.get('ein')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ein')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('ein')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.employer.started" for="field_started">Started</label>
          <div class="input-group">
            <input
              id="field_started"
              data-cy="started"
              type="text"
              class="form-control"
              name="started"
              ngbDatepicker
              #startedDp="ngbDatepicker"
              formControlName="started"
            />
            <button type="button" class="btn btn-secondary" (click)="startedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.employer.employerType" for="field_employerType">Employer Type</label>
          <select class="form-control" name="employerType" formControlName="employerType" id="field_employerType" data-cy="employerType">
            <option [ngValue]="null">{{ 'myApp.EMPLOYERTYPE.null' | translate }}</option>
            <option *ngFor="let eMPLOYERTYPE of eMPLOYERTYPEValues" [value]="eMPLOYERTYPE">
              {{ 'myApp.EMPLOYERTYPE.' + eMPLOYERTYPE | translate }}
            </option>
          </select>
          <div
            *ngIf="editForm.get('employerType')!.invalid && (editForm.get('employerType')!.dirty || editForm.get('employerType')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('employerType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
